body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.money-span{
    
    padding-left: 2rem;
}
.currency-box {
    
    height: 4rem;
    width: 9rem;
    background: lightgreen;
    color: white;
}
.currency-box-selector{
    background: lightgreen;
    color: black;
}
option.currency-box-selector:hover {
    color: black;
    background: white;
}